<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


    <form class="container" th:object="${dto}" th:action="main" th:method="post" >

            <input class="form-control" th:field="*{query}"  name="query" th:type="text" placeholder="쿼리를 입력하세요." >

        <p th:if ="${#fields.hasErrors('query')}" th:errors="*{query}" style="color: red"> </p>
        <button id="query-btn" class="btn btn-success" type="submit">검색</button>

    </form>


<div class="container-fluid">
    <table class="table text-center">
        <tr>
            <th:block th:each="key: ${keys}">
                <th class="active text-center" style="font-size: 10px" th:text="${key}">  </th>
            </th:block>
        </tr>
        <tr th:each="map: ${result}">
            <th:block th:each="value: ${map}">
                <td style="font-size: 10px;" th:text="${value.value}"></td>
            </th:block>
        </tr>
    </table>
</div>



</body>

<script th:inline="javascript">

    // $(document).ready(function (e) {
    //
    //     $('#query-btn').click(function () {
    //
    //         let value = {
    //             query: $('.query-content').val()
    //         }
    //
    //         $.ajax({
    //
    //             url: '/main',
    //             type: "post",
    //             data: JSON.stringify(value),
    //             contentType: "application/json; charset=utf-8",
    //             dataType: "text",
    //             async: false,
    //             success: function (result) {
    //
    //                 $('#hihi').load(location.href + " #hihi");
    //             }
    //         })
    //     });
    //     });


</script>
</html>